.card {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.card-img {
  height: 70%;
  transition: all 0.3s ease;
}

.card:hover .card-img::before {
  opacity: 1;
}

.card:hover .card-img {
  filter: brightness(0.9);
}

.card-title {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: all 0.3s ease;
}

.card-title h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: black;
  transition: all 0.3s ease;
}

.card:hover .card-title {
  background-color: #83de4e;
}

.card:hover .card-title h2 {
  color: #000;
}

@media (max-width: 520px) {
	.card {
    width: 360px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
}