@media only screen and (max-width: 768px) {
    .logoLateral {
        width: 9vh;
        height: 7vh;
    }

    .menuLateral {
        padding: 0 0;
    }

    .menuLateral .burger {
        padding-right: 5vw;
    }

    .tituloInicio {
        background-size: 100%;
        width: 100%;
        padding: 15vw 0 15vw 0vw;
        transform: none;
        text-align: center;

        margin: 15% 0 0 0;
    }

    .videoInicio img,
    .videoInicio video {
        width: 100%;
        padding: 2vw 0 2vw 0vw;
    }

    .serviciosRow .box {
        width: 85%;
    }

    .serviciosRow {
        padding: 2vw 0 2vw 0vw;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .casosRow {
        padding: 0vw 0 0vw 0vw;
        flex-direction: column;
        align-items: center;
    }

    .casosBox {
        width: 85%;
    }

    .casosBox .casoHeader img {
        width: 50%;
    }

    .casosArrow {
        display: none;
    }

    .casosImg {
        width: 90%;
    }

    .tituloCasos {
        padding: 3vw 0 0vw 1vw;
    }

    .tituloCasos p {
        font-size: 3rem;
    }

    .casosRow2 {
        flex-direction: column;
        padding: 0vw 0 0vw 0vw;
        align-items: center;
    }

    .casosRow2 .casosImg {
        width: 90vw;
    }

    .clientesTitulo {
        font-size: 3rem;
    }

    .clientesBox {
        padding: 0vw 5vw 10vw 5vw;
    }

    .clientesBox .imgBox {
        width: 35vw;
        max-width: 180px;
    }

    .testimonios {
        padding: 2vw 0vw 1vw 5vw;
    }

    .testimonios .titulo {
        font-size: 3rem;
    }

    .testimoniosBox .box {
        width: 55vw;
    }

    .testimoniosContainer {
        padding: 2vw 5vw 3vw 5vw;
    }

    .piePagina {
        flex-direction: column;
        margin-left: 0vw;
        text-align: center;
    }

    .piePagina .social {
        justify-content: center;
        display: flex;
    }

    .marketingPage {
        padding: 20vw 3vw 5vw 3vw;
    }

    .marketingImg img {
        width: 100%;
    }

    .marketingCol {
        flex-direction: column;
    }

    .marketingBox {
        display: flex;
        flex-direction: column;
        background-color: #25272c;
        color: #fff;
        padding: 0vw 5vw 5vw 5vw;
        align-items: center;
    }

    .marketingBox .col1 {
        width: 95vw;
        font-size: 2.1rem;
        text-align: center;
    }

    .marketingBox .col2 {
        width: 90vw;
        font-size: 2rem;
        text-align: center;
        margin-top: 10vw;
    }

    .linkBox {
        margin: 11vh 8% 5vh 8%;
        font-size: 1.5rem;
    }

    .linkBox .link {
        border-bottom: solid #93e54c 0.1vh;
        margin-bottom: 5vh;
    }

    .contactBanner {
        margin-top: 10vh;
    }

    .formContainer>div {
        width: 90%;
    }

    .input_title {
        font-size: 5.7vw !important;
        height: 9vw !important
    }

    .form-box input {
        height: 12vw !important;
    }

    .form-box .userIcon img {
        width: 5.5vw !important;
    }

    .form-box .userIcon {
        position: relative;
        top: 2.7vw !important;
        left: 2vw !important;
    }

    .form-box textarea {
        height: 35vw !important;
    }

    .form-box input,
    textarea,
    select {
        font-size: 5.7vw !important;
    }

    .copyright p {
        font-size: 3.5vw !important;
    }

    .titleBlock2 {
        padding: 5vw !important;
    }

    .contactInfo h2 {
        font-size: 4.3vw !important;
        margin-bottom: 5vw;
    }

    .formContainer .logosDist img {
        width: 25% !important;
    }

    .btnAccess {
        padding: 5vw 18vw !important;
        margin: 7vw 2vw !important;
    }

    .nextBtn {
        height: 4rem !important;
        font-size: 1.5em !important;
    }

    .contactBanner {
        flex-direction: column;
        text-align: center;
    }

    .contactBanner .title {
        width: 100%;
        font-size: 7vh;
    }

    .contactBanner .desc {
        width: 100%;
        font-size: 3vh;
        padding-right: 0vw;
    }

    .tituloInicio p {

        font-size: 3rem;
    }


    .tituloServicios p {
        line-height: 41px;
        font-size: 1.9rem;
        padding: 0vw 0 4vw 0vw;
    }

    .tituloServicios {
        font-size: 1.49rem;
        padding: 3vw 0 0vw 0vw;
        text-align: center;
    }

    .tituloCasos {
        font-size: 1.49rem;
        padding: 3vw 0 3vw 0vw;
    }

    .tituloCasos p {
        font-size: 1.9rem;
        text-align: center;
    }

    .testimonios .titulo {
        font-size: 1.9rem;

    }

    .piePagina {
        padding: 8vw 0 4vw 0;
    }

    .testimonios {

        align-items: center;
    }

    .clientesTitulo {
        padding: 15vw 0vw 9vw 0vw;
        font-size: 1.9rem;
        line-height: 34px;
    }

    .noresponsive {
        display: none;
    }

    .responsive {
        display: block;
    }

    .tituloLetsTalk p.titulo2 {
        font-size: 2rem;
    }

    .tituloLetsTalk {
        background-color: #93e54c;
        padding: 6vw 0 6vw 5vw;
        line-height: 1;
    }

    .tituloLetsTalk p.titulo1 {
        font-size: 1.7rem;
    }

    .tituloCasos p {
        padding: 5vw 0 2vw 5vw;
    }

    .casosDesc {
        font-size: 1.6rem;
        line-height: 2rem;
        text-align: center;
    }

    .casoHeader {
        align-items: center;
    }

    .piePagina .titulo {
        font-size: 1.9rem;
    }

    .arrowBox img {
        margin-top: 8%;
        max-width: 10%;
    }

    .menuLateral {
        height: 4rem;
        position: sticky;
    }

    .videoInicio frame {
        max-width: max-content !important;
    }

    .noresponsive {
        display: none;
    }

    .comentarioTestimonio {
        font-size: 1.1rem;
    }

    .testimonios .controls .contador {
        font-size: 1.6rem;
    }

    footer p {
        font-size: 1.4rem;
        text-align: center;
    }

    .social a {
        display: flex;
        justify-content: center;
    }

    .social img {
        max-width: 50%;
        margin: 50% 0 0 0;
    }

    .columna .masEspacio {
        margin: 0;
    }

    .columna .masEspacio nav {
        display: flex;
        justify-content: center;
    }

    footer h3,
    footer h3 a {
        font-size: 1.8rem !important;
        margin: 10% 0 0 0;
    }

    .columna ul li a {
        font-size: 1.4rem;
    }

    .certificadoI {
        width: 65%;
        margin-top: 10%;
    }

    footer {
        padding: 15vw 2vw 15vw 2vw;
    }

    .serviciosRow .box .descBox {
        font-size: 1.6rem;
    }

    .imagen1B,
    .imagen2B {
        width: 10vw;
    }

    .responsive {
        display: block !important;
    }

    .casosEBox {
        padding: 0%;
    }


    .CookieConsent {
        justify-content: center !important;
    }

    .cookie-text {
        font-size: 1.1rem;
        padding-left: 0;

    }

    .cookie-buttons {
        padding-right: 0;
    }

    .texto-cookies {
        flex: 100% !important;
        margin: 3% 0 !important;
        text-align: center;
    }

    .videoserviciosinicio {
        width: 100% !important;
        height: auto !important;
        margin-left: 0 !important;
    }

    .item.imgservices {
        text-align: center;
    }

    .item.imgservices img {
        padding-top: 0;
        padding-left: 0;
        width: 55%;
        height: auto;
    }

    .abajo,
    .abajo2 {
        width: auto;
        padding: 0 10vw;
        font-size: 1.4rem;
    }

    .boxMarketing {
        grid-template-rows: repeat(3, 1fr);
    }

    .pmedia.boxMarketing {
        grid-template-rows: repeat(1, 1fr) !important;
    }

    .item.textservices .image-row img {
        padding-top: 0vw;
        padding-left: 0vw;
        width: 30% !important;
        height: auto;
    }

    .boxMarketing.onecol {
        grid-template-rows: repeat(1, 1fr) !important;
    }

    .tituloServiciosVH p {
        font-size: 2rem;
        padding: 2 2 2 2vw;
        color: #25272c;
        line-height: 0.01;
    }

    .contenedor-imagenesVH {
        display: block;
        margin: 0 auto;
    }

    .imagen-padreCE {
        text-align: center;
        margin: 0 0 10% 0;
    }

    .imagen1BCE,
    .imagen2BCE {
        width: 9vw;
    }

    .containerFor {
        flex-direction: column;
    }
    
    .tituloFormulario {
        display: flex;
        width: 100%;
        padding: 0;
        justify-content: center;
    }


}

